fastapi
uvicorn
langgraph
langchain
langsmith
langchain-openai
langchain-community
langgraph-checkpoint-aws
langgraph-checkpoint
boto3
botocore
qdrant-client
requests
sqlalchemy
psycopg2-binary
PyJWT
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic[email]
pdfplumber
streamlit
IPython