fastapi
uvicorn
langgraph
langchain>=0.1.17
langchain-core>=0.1.43
langsmith
langchain-openai
langchain_upstage
langchain-community
langgraph-checkpoint-aws
langgraph-checkpoint
boto3
botocore
qdrant-client
requests
sqlalchemy
psycopg2-binary
PyJWT
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic[email]
pdfplumber
pymupdf
streamlit
IPython
html2text
beautifulsoup4